extends ../layouts/main.pug
block stylesheet
  link(rel="stylesheet",href="/css/forms.css")
  link(rel="stylesheet", href="/css/product.css")
block content
  main
    form.product-form(action="/admin/edit-product/",method="POST")
      div.form-control
        input(type="hidden" ,name="id",value=prod.ProductTblRefID)
        label(for="title") Title
        input(type="text" ,name="title", id="title",value=prod.ProductName)
        label(for="img") Product Image Url
        input(type="text" ,name="imgUrl", id="img",value=prod.ProductImg)
        label(for="price") Price
        input(type="number" ,name="price", id="price",value=prod.ProductPrice)
        label(for="desc") Description
        textarea(cols="40", rows="4",name="description", id="desc",placeholder=prod.ProductDesc) #{prod.ProductDesc} 
      button.btn(type="submit") Save
      a.btn(href="/admin/products") Cancel