extends ../layouts/main.pug
block stylesheet
  link(rel="stylesheet", href="/css/product.css")
block content
  main
    if err=='failed'
      h3.error #{msg}
    else if err=='success'
      h3.success #{msg}
    else 
      if prods.length>0
        .grid
          if deleteMsg
            h3.succes #{deleteMsg}
          each product in prods
            article.card.product-item
              header.card__header 
                h1.product__title #{product.ProductName}
            
              div.card__image
                img(src=product.ProductImg, alt="A Book")
              div.card__content
                h2.product__price $#{product.ProductPrice}
                p.product__description #{product.ProductDesc}
              .card__actions
                form(action="/admin/edit-product/"+product.ProductTblRefID,method="GET")
                  input(type="hidden", name="_csrf" , value=csrfToken ,id="csrf")
                  button.btn(type="submit") Edit
                form(action="/admin/delete-product",method="POST")
                  input(type="hidden", name="_csrf" , value=csrfToken ,id="csrf")
                  input(type="hidden",name="id" ,value=product.ProductTblRefID)
                  button.btn(type="submit") Delete
      else
         h1 No Products in shop  


