extends ../layouts/main.pug
block stylesheet
  link(rel="stylesheet", href="/css/cart.css")
block content
  if prods.length>0
    section.container
      each product in prods 
        article.product
          .productInfo
            h3.title #{product.ProductName} 
            .qtySec 
              h3.qty Quantity : #{product.Qty} 
              .qty_btn 
                button.Pbtn -
                button.Pbtn +
          .productTotal 
            h3.price $#{product.ProductTotal}
            form(action="/delete-cart",method="POST" )
              input(type="hidden", name="_csrf" , value=csrfToken ,id="csrf")
              input(type="hidden" ,name="id" ,value=product.CartID)
              button.Pbtn(type="submit") Delete
    section.container
      article.CartSummary
        h3.totalPrice 
          span.label Cart Total Price : 
          | $#{total}
        form(action="/orders" ,method="POST")
          input(type="hidden", name="_csrf" , value=csrfToken ,id="csrf")
          input(type="hidden",name="userid",value=userId)
          button.btn(type="submit") Checkout Now

  else 
    h2 Cart is Empty 