extends ../layouts/main.pug
block stylesheet
  link(rel="stylesheet", href="/css/cart.css")
block content
  main.order 
    - const length=Object.keys(orders).length
    if length<1
      h3 You haven't placed any order
    else
      each order,index in orders
        section.container.order
          h3.orderDate Order ID : #{index}
          each product in order.Products 
            article.product
              .productInfo
                h3.title #{product['Product Name']} 
                .qtySec 
                  h3.qty Quantity : X #{product.Qty} 
              .productTotal 
               h3.price $#{product.Qty*product.ProductPrice}
          .totalPrice 
            h3 Order Total: 
              span.total $ #{order.Total}
            a.Pbtn(href="/invoice/"+order.UID+"/"+index) Get Invoice
          .orderDate 
            h5 
              span.date Order Date: 
              | #{order.Date}