extends ../layouts/main.pug
block stylesheet
  link(rel="stylesheet", href="/css/cart.css")
block content
  main.order  
    if orders.length<1
      h3 You haven't placed any order
    else
      each order in orders
        section.container.order
          h3.orderDate Order Date : #{order.order_date}
          each product in order.products 
            article.product
              .productInfo
                h3.title #{product.ProductName} 
                .qtySec 
                  h3.qty Quantity : #{product.Qty} 
              .productTotal 
               h3.price $#{product.Qty*product.ProductPrice}
          .totalPrice 
            h3 Order Total: 
              span.total $ #{order.total}
            a.Pbtn(href="/invoice/") Get Invoice
