extends ../layouts/main.pug
block stylesheet
  link(rel="stylesheet", href="/css/product.css")
block content
  main
    if err 
      .error 
        h3 Error occure while fetching products from backend.
    else
      if prods.length>0
        if successMsg
          .message 
            h3.success #{successMsg}
        script. 
          setTimeout(()=>{
            document.querySelector(".message").style.display='none';
          },3000)
        .grid
          each product in prods
            article.card.product-item
              header.card__header 
                h1.product__title #{product.ProductName}
            
              div.card__image
                img(src="/"+product.ProductImg, alt="A Book")
              div.card__content
                h2.product__price $#{product.ProductPrice}
                p.product__description #{product.ProductDesc}
              .card__actions
                form(action="/products/" + product.ProductTblRefID,method="POST")
                  input(type="hidden", name="_csrf" , value=csrfToken ,id="csrf")
                  button.btn(type="submit") Details
                if isAuthenticate
                  include ../layouts/add-to-cart.pug
        .pageBtn
          each num in Array.from({length: perPageview}, (_, i) => i + 1)
            a.pBtn(href="/products?page="+num class=(path==='/products?page='+num?'active':'')) #{num}
      else
        h1 Shop is empty


